/* HEADER */
header .img-fluid {
  max-width: 60px;
}

header .navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: rgb(255, 255, 255);
}

header .nav-link {
  color: rgb(134, 136, 138);
}

.navbar-toggler {
    border-color: rgb(134, 136, 138);
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem;
    color: rgb(255, 255, 255);
}