/* HEADER */

header .img-fluid {
  max-width: 60px;
}

header .navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: rgb(255, 255, 255);
}

header .nav-link {
  color: rgb(134, 136, 138);
}

.navbar-toggler {
  border-color: rgb(134, 136, 138);
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem;
  color: rgb(255, 255, 255);
}

input::placeholder {
  color: rgb(134, 136, 138) !important;
}

/* MAIN */

/* ROW */
#main-container .row {
  font-size: 0.9rem;
}

/* TABLE */
.fa-pencil,
.fa-trash {
  color: rgb(134, 136, 138);
  cursor: pointer;
}

/* ACCORDION */
.accordion-item {
  border: none;
}

.accordion-item:not(:last-child) {
  border-bottom: solid 1px rgb(222, 226, 230);
}
